{% extends "base.html" %}

{% block content %}
    <h1>About Us</h1>
    <br/>
    <p>
        We specialize in fully custom team sportswear and beyond. We got our start providing custom jerseys for local
        rugby clubs and have expanded from there. We cover most sports, and can accommodate most needs. Most of all, we enjoy
        working with teams to provide a styled look and comfortable feel. We pride ourselves in providing quality products
        at a reasonable price. Sublimation printing changed the game in customization of sportswear. Sublimation allows
        for any design or pattern to be printed on a garment with no fading. We can, and will do other types of printing
        but the sky is the limit with sublimation.
    </p>
    <p>
    In addition to team sportswear, we do other clothing items: t-shirts, hoodies, caps, track suites, bags
    </p>
    <p>
    We also have the ability to setup a product page specifically designed for your team, club, or school.
        And we have the ability to charge a percentage on each sale that would go back to the club or school
    </p>
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}