<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h5>Information</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'about' %}">About Us</a></li>
                    <li><a href="{% url 'delivery' %}">Delivery Information</a></li>
                    <li><a href="{% url 'pricing' %}">Pricing</a></li>
                    <li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
                    <li><a href="{% url 'size-chart' %}">Size Chart</a></li>
                    <li><a href="{% url 'terms' %}">Terms &amp; Conditions</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Customer Service</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'contact' %}">Contact Us</a></li>
                    <li><a href="http://www.lmtoe.com/index.php?route=account/return/add">Returns</a></li>
                    <li><a href="http://www.lmtoe.com/index.php?route=information/sitemap">Site Map</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Extras</h5>
                <ul class="list-unstyled">
                    <!-- <li><a href="http://www.lmtoe.com/index.php?route=product/manufacturer">Brands</a></li> -->
                    <li><a href="http://www.lmtoe.com/index.php?route=account/voucher">Gift Certificates</a></li>
                    <li><a href="http://www.lmtoe.com/index.php?route=affiliate/login">Affiliate</a></li>
                    <li><a href="http://www.lmtoe.com/index.php?route=product/special">Specials</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>My Account</h5>
                <ul class="list-unstyled">
                    <li><a href="http://www.lmtoe.com/index.php?route=account/account">My Account</a></li>
                    <li><a href="http://www.lmtoe.com/index.php?route=account/order">Order History</a></li>
                    <!--<li><a href="http://www.lmtoe.com/index.php?route=account/wishlist">Wish List</a></li> -->
                    <li><a href="http://www.lmtoe.com/index.php?route=account/newsletter">Newsletter</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <p> L.M.Toerner, LLC © 2018</p>
    </div>
</footer>
