{% extends "base.html" %}

{% block content %}
    <h1>Pricing</h1>
    <br/>
    <p>
        Pricing will vary based on level of customization, the size of the order, and the material used
    </p>
    <p>
    <a href="{% url 'contact' %}" title="Contact us"><i class="fa fa-phone"></i>
                    <span class="hidden-xs hidden-sm hidden-md">Contact us </span></a> for questions or if you are ready to place an order
    </p>
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}