{% extends "TeamSports/product_base.html" %}

{% load static %}
{% load i18n %}

{% block title %}
    L.M.Toerner - Soccer
{% endblock %}

{% block productName %}
    Soccer Uniform
{% endblock %}

<!-- Image 1 is underneath in column 1 - use if there are 3 products
otherwise start with product 2 -->
{% block productImage1 %}
    <img src="{% static 'image/catalog/soccershorts1.jpg' %}"
         style="width:175px;height:225px;"
         alt="Soccer Shorts" title="Soccer Shorts" class="img-responsive">
{% endblock %}

{% block productName1 %}
    Soccer Shorts
{% endblock %}

{% block productDetails1 %}
    <li>Print options: Sublimated / Embroidery / Silk Printing / Tackle Twill</li>
{% endblock %}

{% block productPrice1 %}
    Price: $18 - $30
    <p>* Prices will vary depending on material, order size and customization</p>
{% endblock %}



{% block productImage2 %}
    <img src="{% static 'image/catalog/soccerjersey.jpg' %}"
         style="width:175px;height:250px;"
         alt="Soccer Jersey" title="Soccer Jersey" class="img-responsive">
{% endblock %}

{% block productName2 %}
    Soccer Jersey
{% endblock %}

{% block productDetails2 %}
    <li>220gsm-300gsm polyester fabric</li>
    <li>Print options: Sublimated / Embroidery / Silk Printing / Tackle Twill</li>
{% endblock %}

{% block productPrice2 %}
    Price: $45 - $60.00
    <p>* Prices will vary depending on material, order size and customization</p>
{% endblock %}



{% block productImage3 %}
    <img src="{% static 'image/catalog/soccer-socks.png' %}"
         style="width:175px;height:225px;"
         alt="Soccer Socks" title="Soccer Socks" class="img-responsive">
{% endblock %}

{% block productName3 %}
    Soccer Socks
{% endblock %}

{% block productDetails3 %}
    <li>Spandex / Nylon / Cotton</li>
    <li>Compression </li>

{% endblock %}

{% block productPrice3 %}
    Price: $10.00 - $15.00
    <p>* Prices will vary depending on material, order size and customization</p>

{% endblock %}