{% extends "TeamSports/product_base.html" %}

{% load static %}
{% load i18n %}

{% block title %}
    L.M.Toerner - Softball
{% endblock %}

{% block productName %}
    Softball Uniform
{% endblock %}

<!-- Image 1 is underneath in column 1 - use if there are 3 products
otherwise start with product 2 -->
{% block productImage1 %}

{% endblock %}

{% block productName1 %}

{% endblock %}

{% block productDetails1 %}

{% endblock %}

{% block productPrice1 %}

{% endblock %}



{% block productImage2 %}
    <img src="{% static 'image/catalog/softballjersey.jpg' %}"
         style="width:225px;height:225px;"
         alt="Softball Jersey" title="Softball Jersey" class="img-responsive">
{% endblock %}

{% block productName2 %}
    Softball Jersey
{% endblock %}

{% block productDetails2 %}
    <li>Cut & sewn with buttons or pullover</li>
    <li>220gsm-300gsm polyester fabric</li>
    <li>Print options: Sublimated / Embroidery / Silk Printing / Tackle Twill</li>
{% endblock %}

{% block productPrice2 %}
    Price: $30 - $50.00
    <p>* Prices will vary depending on material, order size and customization</p>
{% endblock %}



{% block productImage3 %}
    <img src="{% static 'image/catalog/SoftballPants.png' %}"
         style="width:225px;height:225px;"
         alt="Softball Pants" title="Softball Pants" class="img-responsive">
{% endblock %}

{% block productName3 %}
    Softball Pants
{% endblock %}

{% block productDetails3 %}
    <li>Zippered fly and snap closure for easy on/off</li>
    <li>Elastic waistband provides a comfortable fit</li>
    <li>Welt pockets offer convenient storage</li>

{% endblock %}

{% block productPrice3 %}
    Price: $25.00 - $35.00
    <p>* Prices will vary depending on material, order size and customization</p>

{% endblock %}